{% extends 'base.html.twig' %}

{% block title %}Hello CadastrarMedicoController!{% endblock %}

{% block body %}

<style>
    .example-wrapper {   margin-top: -1px; width: 100%; height:auto;}
    .example-wrapper code { background: white; padding: 2px 6px; }
</style>

<div class="mb-3" style="float:right; text-align:center; margin-right:20px; ">
    <i style="font-size: 18px;" class="far fa-user-circle"></i> <br>
    <span style="color:cian; font-size:12px;"> Você esta logado: <strong style="color:blue;">  ✅ </strong>  </span> 
    <br>
    <div style="width:100%; height:auto;"> <a href="/admin/management" style=" "> <u> Home </u> </a > </div>
</div>

<div class="example-wrapper" style="background:white; height: 90px;" >
    <div style=" width:8%; height:auto; padding-top:8px;  margin-left:25px; " align="center">
        <img style=" " src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Logo_PMPR_2.svg/800px-Logo_PMPR_2.svg.png" alt="Smiley face" height="70" width="60">
    </div>
</div>
 
<br> 

<section style="width:100%; height:auto; " align="center"> 
    <div style="width:90%; margin:0 auto; height:auto; border-bottom:solid 1px darkgray; ">
        <div style="width:100%; height:auto; text-align:center;">
            <i style="position:relative; top:-30px;" class="fas fa-users"></i>
            <h5 style=" position:relative; top:-25px; font-family: 'Manrope', sans-serif; ">  Cadastro de médicos.   </h5>
        </div>

        <form action="/admin/doctor/create" method="POST">
            <input type="hidden" name="csrf_token"  value="{{csrf_token('authenticate')}}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">* NOME</label>
                    <input type="text" name="nome" class="form-control" id="inputNome" placeholder="NOME" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword">* NOVA SENHA </label>
                    <input type="password" name="passwd" class="form-control" id="inputPassword" placeholder="SENHA" required>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputRG">* RG</label>
                    <input type="text" name="rg" class="form-control" id="inputRG" placeholder="RG" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputconfirmPasswd">* CONFIRME SENHA </label>
                    <input type="password" name="confirmPasswd" class="form-control" id="inputconfirmPasswd" placeholder="password" required>
                </div>
            </div> 

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCelular">* CELULAR </label>
                    <input type="text" name="phone1" class="form-control" id="inputCelular" placeholder="(41)99999 9999" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTELEFONE">* TELEFONE <small style="color:blue"> (opcional) </small> </label>
                    <input type="text" name="TELEFONE" class="form-control" id="inputTELEFONE" placeholder="(41)3333 6666">
                </div>
            </div> 

            <div class="form-row">                    
                <div class="form-group col-md-6">
                    <label for="inputCRM">* CRM </label>
                    <input type="text" name="crm" class="form-control" id="inputCRM" placeholder="CRM" required >
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCPf">* CPF </label>
                    <input type="text" maxlength='11' name="cpf" class="form-control" id="inputCPf" placeholder="CPF" required>
                </div>                   
            </div>                                
            <button type="submit" class="btn btn-primary"> <i class="fas fa-paper-plane"></i> Cadastrar </button>
            <br> <br>
        </form>
    </div>
</section>

<section style="width:100%; height:auto;">
    <div style="width:100%; height:70px; background:white; position:absolute; bottom:0px; "> 
        <div style=" display:inline-block; width:8%; height:auto;  padding-top: 6px; margin-left:25px; " align="center">
            <img style=" " src="https://www.pikpng.com/pngl/m/204-2047354_doctor-icon-medicina-png-animado-clipart.png" alt="Smiley face" height="54" width="50">
        </div>
        <div align="center" style="width:110px; height:auto; padding-top:8px; float:right; margin-right: 40px; display:inline-block;">
            <i style="font-size: 15px; color:#afafaf; " class="fas fa-unlock-alt"></i> <br>
            <a  href="#" style="color:#034F84; font-size:12px; color:magenta;"> <strong> <u> Alterar senha. </strong> </u> </a>
        </div>

        <div align="center" style="width:110px; height:auto; padding-top:8px; float:right; margin-right: 40px; display:inline-block;">
            <i style="font-size: 15px; color:#afafaf; " class="fas fa-phone-alt"> HPM </i> <br>
            <span  style="color:#034F84; font-size:12px; ">  (41)3333 3333.  </span>
        </div>
    </div>
</section>
 
    {# <li>Your controller at <code><a href="{{ '/home/renanbrs/Saude-Medico/src/Controller/CadastrarMedicoController.php'|file_link(0) }}">src/Controller/CadastrarMedicoController.php</a></code></li>
    <li>Your template at <code><a href="{{ '/home/renanbrs/Saude-Medico/templates/cadastrar_medico/index.html.twig'|file_link(0) }}">templates/cadastrar_medico/index.html.twig</a></code></li> #}
     
{% endblock %}
