{% extends 'base.html.twig' %}

{% block title %}Hello doctor !{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 300px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br> <br>  

<div style=" ">
    <br> 
    <img style=" position:absolute; top:0px; rotate:10deg; opacity:0.1; " src="https://uploaddeimagens.com.br/images/002/590/127/original/%E2%80%94Pngtree%E2%80%94medical_devices_stethoscope_real_creative_437863.png?1586919813" height="900" width="900">
</div>

<section style="width:100%; height:auto; position:absolute;">
<div class="example-wrapper" align="center" style=" box-shadow: 0px 1px 3px 2px gray; border-radius:2%; background-image: linear-gradient(130deg, #495057 13%, #ffb90f 14%, #ffb90f 25%, transparent 26% );">
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Logo_PMPR_2.svg/800px-Logo_PMPR_2.svg.png" alt="Smiley face" height="160" width="140">
    <br>  <br>
    <form  method="POST">
        {% if error %}
            <div class="alert alert-danger"> {{error.messageKey|trans(error.messageData, 'security')}} </div>
        {% endif %}

        <div class="form-group">
            <label for="exampleInputCpf"> <i class="fas fa-user-md" style="font-size: 28px;"></i>  CPF </label>
            <input type="text"  name="cpf" id="exampleInputCpf" class="form-control"  maxlength="11" style="  border :1px solid darkgray; width: 230px; background:transparent;">
        </div>

        <br> <br>

        <div class="form-group">
            <label for="exampleInputPassword"> <i class="fas fa-unlock-alt"></i> Password</label>
            <input type="password"  name="password" class="form-control" id="exampleInputPassword" style=" border:1px solid darkgray; width: 230px;  background:transparent;">
        </div>

        <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}" > 

        <button type="submit" class="btn btn-outline-primary">Entrar</button>

        <br> <br>
    </form>
</div>
</section>
{% endblock %}

{#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
#}