{% extends 'base.html.twig' %}

{% block title %} Gerênciamento !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 100%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="mb-3" style="float:right; text-align:center; margin-right:20px;">
    <span style="color:cian; font-size:12px;"> Você esta logado com CPF: <strong> <u> {{ app.user.username }} </strong> </u> </span> 
    <br>
    <a style="color:magenta;" href="/logout"> Sair </a>
</div>

{# <div style="width:100%; height:auto;"> <a href="#" style="float:right; margin-right:12px;"> <u> Sair </u> </a > </div> #}

<div class="example-wrapper" >
    <div style=" width:10%; height:auto; position:relative;  margin:0 auto; " align="center">
        <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Logo_PMPR_2.svg/800px-Logo_PMPR_2.svg.png" alt="Smiley face" height="70" width="60">
    </div>
</div>

<hr>
  
<div style=" width:100%; height:auto; position:relative; top: 80px;" align="center" >
    <span style=" margin:auto;"> Administrador   ✅  </span>
    <br>
    <div style="width:80px; height:80px; box-shadow: 1px 2px 3px 0px lightgray; border-radius:4%; display:inline-block;">
        <a style="position:relative; top:10px;" href="/cadastrar/medico/newdoctor">
            <i class="fas fa-users" style="font-size:30px; " ></i>
        </a>
        <span style="font-size:12px;"> Cadastrar </span>
    </div> 

    <div style="width:10px; height:80px;  display:inline-block;"> </div>

    <div style="width:80px; height:80px; box-shadow: 1px 2px 3px 0px lightgray; border-radius:4%; display:inline-block; ">
        <a style="position:relative; top:10px;" href="/editar/cadastro/medico/modify">
            <i class="fas fa-cogs" style="font-size:30px;" ></i>
        </a> 
        <br>
        <span style="font-size:12px;"> Editar </span>
    </div>
</div>

 {% endblock %}
